{% extends 'files/base.html' %}

{% block title %}Product{% endblock %}

{% block content %}

    <div class="border border-black rounded p-4 mt-24 w-1/3">
        <h2><a href="" class="text-sm font-semibold">{{ product.name }}</a></h2>
        <div class="h-24 border border-gray-400 w-full mb-2">
            <img src="" alt="" class="w-full h-full object-cover">
        </div>
        {% if product.is_sale %}
            <div class="flex">
                <strike >
                <p class="text-xs font-semibold mb-2 text-red-400">price ksh: {{ product.price }}</p>
                </strike>
                &nbsp;                                             
                <p class="text-xs font-semibold mb-2 text-xs">price ksh: {{product.sale_price}} </p>
            </div>
        {% else %}
            <p class="text-xs font-semibold mb-2">price ksh :{{ product.price }}</p>
        {% endif %}        
        <p class="text-xs font-semibold mb-2">price ksh :{{ product.description }}</p>
        <div class="flex w-full justify-between">
            <button class="px-8 py-1 text-xs bg-blue-700 text-white rounded hover:bg-blue-900 transition cursor-pointer">Add to Cart</button>
            <a href="{% url 'product' product.id %}" class="px-8 py-1 text-xs bg-blue-700 text-white rounded hover:bg-blue-900 transition cursor-pointer">Buy Now</a>
        </div>
    </div>

{% endblock %}